# Data Wrangling!
## All Space Missions from 1957

This piece of article is basically about space missions right from 1957.
Space is the boundless three-dimensional extent in which objects and events have relative position and direction. In classical physics, physical space is often conceived in three linear dimensions, although modern physicists usually consider it, with time, to be part of a boundless four-dimensional continuum known as spacetime. - <i> Wikipedia</i>.
The Space is said to be outside our atmosphere at which is isn't perfectly void but filled with other particles.

This Space began to be explored by humans which started in <b>October 4, 1957</b>, when the Union of Soviet Socialist Republics (U.S.S.R.) launched Sputnik, the first artificial satellite to orbit Earth. This happened during the period of political hostility between the Soviet Union and the United States known as the Cold War.

Ever Since then, different Companies from different Countries Globally also began to explore Space and moving on with their missions. But for every success, failure would have existed. A data set was provided by Agirlcoding, Consultant at Deloitte, Düsseldorf, North Rhine-Westphalia, Germany, which provided all the data of the space missions right from the beginning of Space Missions.

Before Visualization and Analysis is done on a data set, Wrangling is done first which is a process of cleaning up a data set. To perform this operation, Python, a programming language will be used with its library specifically for this process, 'pandas' which will be imported below, and when that is done the data set is going to be read into the program called 'read_csv', the data set we're using is a CSV file (Comma-separated values). Then afterwards, the first 5 rows gets printed.

In [1]:
import pandas as pd
df = pd.read_csv('Space_Corrected.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145,Success

So we can see obviously that our data looks somehow messy, like the first  two columns which names are not names and seems to be same values. so the next thing to do is to check he information of the data set by using the pre-inbuilt function in pandas called 'info()' to check its information.

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      4324 non-null   int64
 1   Unnamed: 0.1    4324 non-null   int64
 2   Company Name    4324 non-null   object
 3   Location        4324 non-null   object
 4   Datum           4324 non-null   object
 5   Detail          4324 non-null   object
 6   Status Rocket   4324 non-null   object
 7   Rocket          964 non-null    object
 8   Status Mission  4324 non-null   object
dtypes: int64(2), object(7)
memory usage: 304.2+ KB

Okay! from the information above, we have 4324 columns and 9 columns in total. So we would want to check if the first two columns are equal and if they are, we remove them by using the drop functions and passing in some props at which the first was defined to the the columns at which we want to remove.

In [3]:
if df['Unnamed: 0.1'].unique().all() == df['Unnamed: 0'].unique().all():
    items = ['Unnamed: 0.1', 'Unnamed: 0']
    df.drop(items, axis=1, inplace=True)
df

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50,Success
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65,Success
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145,Success
...,...,...,...,...,...,...,...
4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Wed Feb 05, 1958 07:33 UTC",Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA","Sat Feb 01, 1958 03:48 UTC",Juno I | Explorer 1,StatusRetired,NaN,Success
4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Fri Dec 06, 1957 16:44 UTC",Vanguard | Vanguard TV3,StatusRetired,NaN,Failure
4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Sun Nov 03, 1957 02:30 UTC",Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success
4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Fri Oct 04, 1957 19:28 UTC",Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success

Basically we can see from the information above that we have 964 non-null values out of 4324 in the rocket colum, then we will want to check the sum of all null values in the data set.

In [4]:
df.isnull().sum()

Company Name         0
Location             0
Datum                0
Detail               0
Status Rocket        0
Rocket            3360
Status Mission       0
dtype: int64

Okayy! we've 3360 null values and we won't want to lose such amount of data set by using the dropna function  but instead replace it with a value at which can fit in, and that value is '0.0'

In [5]:
df['Rocket'].fillna('0.0', inplace=True)
df.isnull().sum()

Company Name      0
Location          0
Datum             0
Detail            0
Status Rocket     0
Rocket            0
Status Mission    0
dtype: int64

Okay, now we don't have any null value and that's way half clean without checking if there are duplicates. so we check if there are duplcates, and if there is, definitely, we want to clean that up by droppping it off.

In [6]:
df.duplicated().sum()

1

In [7]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

Now that being done and then, our data set is ready for Visualization and Anaysis.